body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    color: fuchsia;
}

.colourful{
    color: darkorchid;
}
